h1, h2, p, li {
  font-family:'Chakra Petch', sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 20px;
}

ul {
  display: inline-flex;
}

li {
  padding: 10px;
  list-style: none;
  font-size: 25px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cover {
  max-width: 80%;
}

.project  {
  display: flex;
  width: 500px;
  margin: 10px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
}


@media screen and (min-width: 600px) {
  .project-card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 960px) {
  .project-card {
    width: calc(25% - 20px);
  }
}

@media screen and (max-width: 599px) {
  .project-card {
    width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .project-card .description {
    display: none;
  }
}
