h1, h2, p, li {
  font-family:'Chakra Petch', sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 20px;
}

ul {
  display: inline-flex;
}

li {
  padding: 10px;
  list-style: none;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  max-width: 80%;
}

.project  {
  display: flex;
  width: 500px;
  margin: 10px;
  flex-direction: column;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  align-items: center;
  padding: 20px;
  background-color: rgba(147, 224, 178, 0.598);
}

.project:last-child {
  grid-column: span 2;
}

@media (max-width: 500px) {
  .container {
    flex-direction: row;
   }
}
