h1, h2, p, li {
  font-family:'Chakra Petch', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
  text-align: start;
}

ul {
  display: inline-flex;
  padding-inline-start: 0;
}

li {
  padding: 10px;
  list-style: none;
  font-size: 15px;

}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 30px;
}

.cover {
  max-width: 80%;
  padding-bottom: 10px;
}

.details {
  display: contents;
}

.project  {
  display: flex;
  max-width: 400px;
  margin: 20px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  align-items: center;
  background-color: rgba(238, 211, 35, 0.592);
  padding: 0 20px 20px 20px;
  justify-content: space-evenly;
}

.project:last-child {
  grid-column: span 2;
}

@media (max-width: 500px) {
  .container {
    flex-direction: row;
    padding: 30px;
   }

   h1 {
    font-size:large;
   }

   h2 {
    font-size: large;
   }

   p, li {
    font-size: small;
   }
}

button {
  background-color: #5e3c5f;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* unvisited and visited link */
a:link, a:visited{
  color: purple;
}

/* mouse over link */
a:hover {
  color: brown;
}

/* selected link */
a:active {
  color: black;
}
